.header-container, .footer{
    background-color: #1F2937;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}

.subtext , a{
    font-size: 18px;
    color: #F5F7FB;
}

.logo-text{
    color: #F9FAF8;
    font-size: 24px;
}
li a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    background-color: #3882F6;
}

body{
    display: flex;
    flex-direction: column;
}

.header, .links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links{
    gap: 20px;
}
.inner-container{
    display: flex;
    align-items: center;
    justify-content:space-around;

}
.header-container{
    height: 520px;
    margin: 0;
    padding: 0;
}
.main-text-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 60px;
}
.main-text{
    margin-bottom: 0;
}

.header-image{
    flex: 0.4;
}
.header-btn{
    width: 140px;
    height: 40px;
    padding: 0;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

/* Cards Section */
.card{
    background-color: rgb(255, 255, 255);
    height: 160px;
    width: 160px;
    border-radius: 10px;
    border: 4px solid #3882F6;
    display: flex;
}

.cards-container{
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    margin-top: 0;
    gap: 50px;
    text-align: center;
}

.whole-card{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    margin-top: 40px;
}
.text{
    color: rgb(82, 75, 75, 0.8);
    font-size: 1.2em;
}

/* Quote section */
.quote-container{
    height: 400px;
    background-color: #E5E7EB;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.quote{
    font-size: 36px;
    font-style: italic;
    opacity:0.7;
}
.writer{
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    margin-left: 450px;
}

/* signup section */

.signup-container{
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
}
.bottom-signup{
    width: 140px;
    height: 40px;
}
.signup{
    display: flex;
    background-color: #3882F6;
    padding: 60px 120px;
    gap: 90px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
}
.signup-div{
    display: flex;
}
.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 40px;
    justify-content: center;
    font-size: 1.3em;
}
.bottom-signup{
    color: white;
    font-weight:bold;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    border:2px solid white ;
}